In [2]:
%matplotlib inline
import pandas as pd
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
from pandas import *
import csv
from datetime import datetime
from dateutil import relativedelta
import argparse
import numpy as np
from itertools import chain
import math
import copy
pd.set_option('display.max_columns', 45)
import re
from dateutil.relativedelta import *

In [100]:
def partitioning(dataset, start_date, end_date): # choose what start and end date you want for you dataframe 
     principio =   int(dataset[dataset['Timestamp']== start_date].index.values[0])
    
     fin = int(dataset[dataset['Timestamp']== end_date].index.values[0])+1
     
     dataset = dataset[principio:fin].reset_index(drop=True)
     
     dataset['Timestamp'] = pd.DatetimeIndex(dataset['Timestamp'])#prophet readable datetime format

     #      dataset = dataset.rename(columns={'DATE_TIME': 'ds','DEMAND': 'y'})
    
     dataset['week#'] = dataset['Timestamp'].dt.week
     
     dataset['day#'] = dataset['Timestamp'].dt.day
     
     dataset['dayofweek#'] = dataset['Timestamp'].dt.dayofweek
     
     dataset['dayofyear#'] = dataset['Timestamp'].dt.dayofyear
    
     dataset['hour#'] = dataset['Timestamp'].dt.hour
     
    
     return dataset

In [101]:
df = pd.read_csv("Monterrey_historical_data.csv")
part_df = partitioning(df,'2016-09-01 00:00:00','2016-09-07 23:00:00')
part_df
df

                 Timestamp  MONTERREY
0      2016-01-29 00:00:00     744.88
1      2016-01-29 01:00:00     560.36
2      2016-01-29 02:00:00     497.98
3      2016-01-29 03:00:00     466.42
4      2016-01-29 04:00:00     484.61
...                    ...        ...
40982  2020-10-01 19:00:00     450.56
40983  2020-10-01 20:00:00     486.42
40984  2020-10-01 21:00:00     458.14
40985  2020-10-01 22:00:00     458.90
40986  2020-10-01 23:00:00     452.34

[40987 rows x 2 columns]

In [102]:
# part_df.iloc[part_df.groupby('dayofyear#')['MONTERREY']]#.agg(pd.Series.idxmax)]#\
# #                             .sort_values(by=['dayofyear#']).reset_index(drop = True)
# part_df.iloc[part_df.groupby('dayofyear#')['MONTERREY'].agg(pd.Series.nlargest)]
# part_df.groupby('dayofyear#')['MONTERREY'].apply(pd.Series.nlargest)

data = part_df.groupby('dayofyear#').apply(lambda x: x.sort_values('MONTERREY',ascending=False)).reset_index(drop = True)

index_list = []

for i in data.index:
    if i%24 in [0,1,2,3]:# 24 will change depending on the values slected
        index_list.append(i)

datap2 = data.ix[index_list].reset_index(drop = True)
# datap2

/Users/azamora2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

In [103]:
price = pd.DataFrame(np.reshape(list(datap2.MONTERREY),(7,4)),columns=['top1_hour_price','top2_hour_price',\
                                                               'top3_hour_price','top4_hour_price'])
date = pd.DataFrame(np.reshape(list(datap2.Timestamp),(7,4)),columns=['top1_hour_date','top2_hour_date',\
                                                               'top3_hour_date','top4_hour_date'])
final_dataset = pd.concat([date, price], axis = 1)
final_dataset = final_dataset[['top1_hour_date', 'top1_hour_price','top2_hour_date', 'top2_hour_price',\
                               'top3_hour_date', 'top3_hour_price','top4_hour_date', 'top4_hour_price']]
final_dataset

,top1_hour_date,top1_hour_price,top2_hour_date,top2_hour_price,top3_hour_date,top3_hour_price,top4_hour_date,top4_hour_price
0,2016-09-01 12:00:00,1278.18,2016-09-01 22:00:00,1259.11,2016-09-01 13:00:00,1226.54,2016-09-01 11:00:00,1168.58
1,2016-09-02 16:00:00,1179.08,2016-09-02 13:00:00,1153.70,2016-09-02 14:00:00,1146.60,2016-09-02 15:00:00,1132.11
2,2016-09-03 20:00:00,1153.78,2016-09-03 00:00:00,1117.85,2016-09-03 21:00:00,1108.28,2016-09-03 12:00:00,1106.81
3,2016-09-04 21:00:00,992.91,2016-09-04 20:00:00,977.32,2016-09-04 22:00:00,973.21,2016-09-04 00:00:00,796.83
4,2016-09-05 15:00:00,1282.41,2016-09-05 13:00:00,1275.73,2016-09-05 16:00:00,1275.44,2016-09-05 18:00:00,1163.65
5,2016-09-06 16:00:00,1136.65,2016-09-06 15:00:00,1105.88,2016-09-06 23:00:00,1103.96,2016-09-06 21:00:00,1101.87
6,2016-09-07 14:00:00,1217.34,2016-09-07 15:00:00,1207.81,2016-09-07 16:00:00,1190.86,2016-09-07 17:00:00,1181.52

In [119]:
weekly_avg_rec = part_df.groupby('dayofyear#').mean().sort_values(by ='MONTERREY').reset_index(drop = True)
weekly_dict = {0.0:'Monday',1.0:'Tuesday',2.0:'Wednesday',3.0:'Thursday',4.0:'Friday',5.0:'Saturday',6.0:'Sunday'}
# a.apply(lambda x: x.sort_values('MONTERREY',ascending=False)).reset_index(drop = True)
# part_df
[weekly_dict[weekly_avg_rec['dayofweek#'][i]] for i in range(len(a))]

['Sunday', 'Friday', 'Thursday', 'Tuesday', 'Monday', 'Saturday', 'Wednesday']