In [2]:
%matplotlib inline
import pandas as pd
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
from pandas import *
import csv
from datetime import datetime
from dateutil import relativedelta
import argparse
import numpy as np
from itertools import chain
import math
import copy
pd.set_option('display.max_columns', 45)
import re
from dateutil.relativedelta import *

In [3]:
def partitioning(dataset, start_date, end_date): # choose what start and end date you want for you dataframe 
     principio =   int(dataset[dataset['Timestamp']== start_date].index.values[0])
    
     fin = int(dataset[dataset['Timestamp']== end_date].index.values[0])+1
     
     dataset = dataset[principio:fin].reset_index(drop=True)
     
     dataset['Timestamp'] = pd.DatetimeIndex(dataset['Timestamp'])#prophet readable datetime format

     #      dataset = dataset.rename(columns={'DATE_TIME': 'ds','DEMAND': 'y'})
    
     dataset['week#'] = dataset['Timestamp'].dt.week
     
     dataset['day#'] = dataset['Timestamp'].dt.day
     
     dataset['dayofweek#'] = dataset['Timestamp'].dt.dayofweek
     
     dataset['dayofyear#'] = dataset['Timestamp'].dt.dayofyear
    
     dataset['hour#'] = dataset['Timestamp'].dt.hour
     
    
     return dataset

In [6]:
df = pd.read_csv(".\static\data\Monterrey_historical_data.csv")
part_df = partitioning(df,'2016-09-01 00:00:00','2016-09-07 23:00:00')
part_df

              Timestamp  MONTERREY  week#  day#  dayofweek#  dayofyear#  hour#
0   2016-09-01 00:00:00     666.31     35     1           3         245      0
1   2016-09-01 01:00:00     606.34     35     1           3         245      1
2   2016-09-01 02:00:00     568.30     35     1           3         245      2
3   2016-09-01 03:00:00     560.02     35     1           3         245      3
4   2016-09-01 04:00:00     546.30     35     1           3         245      4
5   2016-09-01 05:00:00     547.14     35     1           3         245      5
6   2016-09-01 06:00:00     582.49     35     1           3         245      6
7   2016-09-01 07:00:00     656.81     35     1           3         245      7
8   2016-09-01 08:00:00     711.34     35     1           3         245      8
9   2016-09-01 09:00:00     841.07     35     1           3         245      9
10  2016-09-01 10:00:00    1068.67     35     1           3         245     10
11  2016-09-01 11:00:00    1168.58     35     1           3         245     11
12  2016-09-01 12:00:00    1278.18     35     1           3         245     12
13  2016-09-01 13:00:00    1226.54     35     1           3         245     13
14  2016-09-01 14:00:00    1166.74     35     1           3         245     14
15  2016-09-01 15:00:00    1016.85     35     1           3         245     15
16  2016-09-01 16:00:00    1144.46     35     1           3         245     16
17  2016-09-01 17:00:00    1149.16     35     1           3         245     17
18  2016-09-01 18:00:00    1135.68     35     1           3         245     18
19  2016-09-01 19:00:00     895.38     35     1           3         245     19
20  2016-09-01 20:00:00    1112.35     35     1           3         245     20
21  2016-09-01 21:00:00    1124.87     35     1           3         245     21
22  2016-09-01 22:00:00    1259.11     35     1           3         245     22
23  2016-09-01 23:00:00    1086.85     35     1           3         245     23
24  2016-09-02 00:00:00     770.22     35     2           4         246      0
25  2016-09-02 01:00:00     639.38     35     2           4         246      1
26  2016-09-02 02:00:00     600.83     35     2           4         246      2
27  2016-09-02 03:00:00     558.30     35     2           4         246      3
28  2016-09-02 04:00:00     535.27     35     2           4         246      4
29  2016-09-02 05:00:00     543.70     35     2           4         246      5
..                  ...        ...    ...   ...         ...         ...    ...
138 2016-09-06 18:00:00    1100.46     36     6           1         250     18
139 2016-09-06 19:00:00    1063.11     36     6           1         250     19
140 2016-09-06 20:00:00    1048.80     36     6           1         250     20
141 2016-09-06 21:00:00    1101.87     36     6           1         250     21
142 2016-09-06 22:00:00    1099.74     36     6           1         250     22
143 2016-09-06 23:00:00    1103.96     36     6           1         250     23
144 2016-09-07 00:00:00    1109.36     36     7           2         251      0
145 2016-09-07 01:00:00     912.94     36     7           2         251      1
146 2016-09-07 02:00:00     710.02     36     7           2         251      2
147 2016-09-07 03:00:00     572.93     36     7           2         251      3
148 2016-09-07 04:00:00     564.84     36     7           2         251      4
149 2016-09-07 05:00:00     573.28     36     7           2         251      5
150 2016-09-07 06:00:00     710.50     36     7           2         251      6
151 2016-09-07 07:00:00     814.37     36     7           2         251      7
152 2016-09-07 08:00:00     901.78     36     7           2         251      8
153 2016-09-07 09:00:00    1113.98     36     7           2         251      9
154 2016-09-07 10:00:00    1139.44     36     7           2         251     10
155 2016-09-07 11:00:00    1103.29     36     7           2         251     11
156 2016-09-07 12:00:00    1154.63     36     7           2         251     12
157 2016-09-07 13:00:00    1114.18     36     7           2         251     13
158 2016-09-07 14:00:00    1217.34     36     7           2         251     14
159 2016-09-07 15:00:00    1207.81     36     7           2         251     15
160 2016-09-07 16:00:00    1190.86     36     7           2         251     16
161 2016-09-07 17:00:00    1181.52     36     7           2         251     17
162 2016-09-07 18:00:00    1131.81     36     7           2         251     18
163 2016-09-07 19:00:00    1120.54     36     7           2         251     19
164 2016-09-07 20:00:00    1131.98     36     7           2         251     20
165 2016-09-07 21:00:00    1139.12     36     7           2         251     21
166 2016-09-07 22:00:00    1127.38     36     7           2         251     22
167 2016-09-07 23:00:00    1145.34     36     7           2         251     23

[168 rows x 7 columns]

In [7]:
# part_df.iloc[part_df.groupby('dayofyear#')['MONTERREY']]#.agg(pd.Series.idxmax)]#\
# #                             .sort_values(by=['dayofyear#']).reset_index(drop = True)
# part_df.iloc[part_df.groupby('dayofyear#')['MONTERREY'].agg(pd.Series.nlargest)]
# part_df.groupby('dayofyear#')['MONTERREY'].apply(pd.Series.nlargest)

datap1 = part_df.groupby('dayofyear#').apply(lambda x: x.sort_values('MONTERREY')).reset_index(drop = True)

index_list = []

for i in data.index:
    if i%24 in [0,1,2,3]:# 24 will change depending on the values slected
        index_list.append(i)

datap2 = data.ix[index_list].reset_index(drop = True)

NameError: name 'data' is not defined

In [67]:
price = pd.DataFrame(np.reshape(list(datap2.MONTERREY),(7,4)),columns=['top1_hour_price','top2_hour_price',\
                                                               'top3_hour_price','top4_hour_price'])
date = pd.DataFrame(np.reshape(list(datap2.Timestamp),(7,4)),columns=['top1_hour_date','top2_hour_date',\
                                                               'top3_hour_date','top4_hour_date'])
final_dataset = pd.concat([date, price], axis = 1)
final_dataset = final_dataset[['top1_hour_date', 'top1_hour_price','top2_hour_date', 'top2_hour_price',\
                               'top3_hour_date', 'top3_hour_price','top4_hour_date', 'top4_hour_price']]
final_dataset

,top1_hour_date,top1_hour_price,top2_hour_date,top2_hour_price,top3_hour_date,top3_hour_price,top4_hour_date,top4_hour_price
0,2016-09-01 04:00:00,546.30,2016-09-01 05:00:00,547.14,2016-09-01 03:00:00,560.02,2016-09-01 02:00:00,568.30
1,2016-09-02 04:00:00,535.27,2016-09-02 05:00:00,543.70,2016-09-02 03:00:00,558.30,2016-09-02 02:00:00,600.83
2,2016-09-03 05:00:00,724.89,2016-09-03 06:00:00,737.45,2016-09-03 07:00:00,763.38,2016-09-03 08:00:00,817.49
3,2016-09-04 07:00:00,512.22,2016-09-04 06:00:00,514.54,2016-09-04 04:00:00,516.26,2016-09-04 05:00:00,516.51
4,2016-09-05 04:00:00,527.99,2016-09-05 05:00:00,530.22,2016-09-05 03:00:00,537.89,2016-09-05 02:00:00,553.75
5,2016-09-06 04:00:00,539.65,2016-09-06 03:00:00,562.13,2016-09-06 05:00:00,564.32,2016-09-06 02:00:00,596.45
6,2016-09-07 04:00:00,564.84,2016-09-07 03:00:00,572.93,2016-09-07 05:00:00,573.28,2016-09-07 02:00:00,710.02